<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<h1>Welcom from registration, insert form </h1>

<form th:action="@{/register}" th:object="${user}" method="post">
    <label for="username">Username</label>
    <input type="text" th:field="*{username}" id="username" placeholder="Username">
    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="Password">
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Email">

    <label>Roles:
        <input type="checkbox" name="roles"
               th:each="role : ${roles}"
               th:text="${role.getTitle()}"
               th:value="${role.getId()}"
               th:field="*{role}"
        />
    </label>
    <input type="submit" value="Create User">
</form>
</body>
</html>